body {
  background-color: #ffffff;
  color: #111111;
}

a {
  color: #111111;
}

.logo {
  filter: invert();
  max-height: 20%;
}

/* Ghost Buttons */
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open>.dropdown-toggle.btn-primary {
    color: #111111;
    background-color: #ffffff;
    border-color: #111111; 
}

.btn-primary {
  border-color: #ffffff;
  background-color: #111111;
  color: #ffffff;
}

.btn-secondary:hover, 
.btn-secondary:focus, 
.btn-secondary:active, 
.btn-secondary.active, 
.open>.dropdown-toggle.btn-secondary {
    background-color: #e1e1e1;
    border-color: #ffffff; 
}

.btn-secondary {
  border-color: #111111;
  background-color: #ffffff;
  color: #111111;
}

.btn-facebook:hover, 
.btn-facebook:focus, 
.btn-facebook:active, 
.btn-facebook.active {
    color: #ffffff;
    background-color: #1e4e7d;
    border-color: #3b5998;
}

.btn-facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.no-border {
  border-radius: 0 0 5px 0;
}

.list-group-ghost {
  background: transparent;
  color: #F2F2F2;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.list-group-item-ghost {
  background: transparent;
  color: #F2F2F2;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border-color: #ffffff;
  cursor: pointer;
}

.list-group-item-ghost.active {
  background: #ffffff;
  color: #111111;
  border-color: #ffffff;
}

/************************
        NAVIGATION 
*************************/

.nav-tabs .nav-link {
  border-radius: 0;
  border: 0;
}

.nav-item {
  border-radius: 0;
  border-bottom: 0;
  color: #ffffff;
}

.nav-item:hover {
  background-color: #ffffff;
  color: #111111;
  border: 0;
  border-radius: 0;
  border-bottom: 0;
}

.nav-item a:hover {
  background-color: #ffffff;
  color: #111111;
  border: 0;
  border-radius: 0;
  border-bottom: 0;
}

.nav-item a {
  background-color: #111111;
  color: #ffffff;
  border: 0;
  border-radius: 0;
  border-bottom: 0;
}

.nav-top {
  border-width: 0;
  background-color: #111111;
  display: none;
  box-shadow: 0 3px 3px 0px rgba(0,0,0,.4);
}

.nav-bottom {
  background-color: #111111;
  font-size: 0.75rem;
  box-shadow: 0 -1px 1px 0px rgba(0,0,0,.4);
  border: 0;
}

@media (min-width: 576px) {
  body {
    font-size: 1.0rem;
  }

  .nav-top {
    font-size: 1.0rem;
    display: block;
  }

  .nav-bottom {
    display: none;
  }

  .container {
    padding-bottom: 0;
  }

}
