@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebas_neue/BebasNeueThin.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebas_neue/BebasNeueBook.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebas_neue/BebasNeueRegular.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebas_neue/BebasNeueBold.ttf') format('truetype');
  font-weight: 700;
}

body {
  min-height: 100vh;
  background-color: #111111;
  color: #ffffff;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

a {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

#right {
  display: flex;
  align-self: center;
  justify-content: center;
}

.container-fluid {
  min-height: 100vh;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-signin {
  width: 80%;
}

.form-control {
  margin: 10px 0;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.btn {
  background: transparent;
  color: #F2F2F2;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1rem;
  /* CSS Transition */
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

/* Ghost Buttons */
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open>.dropdown-toggle.btn-primary {
    color: #111111;
    background-color: #eeeeee;
    border-color: #eeeeee; 
}

.btn-primary {
  border-color: #ffffff;
}

.btn-facebook:hover, 
.btn-facebook:focus, 
.btn-facebook:active, 
.btn-facebook.active {
    color: #ffffff;
    background-color: #3b5998;
    border-color: #3b5998;
}

.btn-facebook {
  border-color: #3b5998;
}

.btn-menu {
  width: 100px;
  margin-top: 20px;
  margin-right: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #767676;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #CCCCCC;
}

input:focus + .slider {
  box-shadow: 0 0 1px #CCCCCC;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 32px; padding: 0; line-height: 32px;
    font-size: 17px; color: white;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Drinks";
    padding-left: 12px;
    background-color: #999999; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Bars";
    padding-right: 12px;
    background-color: #FFFFFF; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 7px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 54px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


#review_response {
  border-left: 5px solid blue;
  background-color: lightgrey;

}


/* MEDIA QUERIES -- ALWAYS LAST */

@media screen and (min-width: 960px) {
    .logo {
      width: 300px;
      height: 300px;
    }
}
