@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebas_neue/BebasNeueThin.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebas_neue/BebasNeueBook.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebas_neue/BebasNeueRegular.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebas_neue/BebasNeueBold.ttf') format('truetype');
  font-weight: 700;
}

body {
  background-color: #222222;
  color: #ffffff;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  font-size: 1.0rem;
  margin-bottom: 60px;
}

a {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

h1 {
  text-align: center;
  font-family: 'Bebas Neue';
  font-weight: 700;
  font-size: 2.0rem;
}

h2 {
  margin-top: 1rem;
}

h5 {
  margin-top: 0.5rem;
}

label {
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #111111;
  color: #ffffff;
}


/************************
        UTILITIES 
*************************/
.no-border {
  border: 0;
  border-radius: 0 0 5px 0;
}

.full-height {
  min-height: 100%; /* Backwards compatibility! */
  min-height: 60vh;
  overflow: hidden;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-fluid {
  min-height: 95vh;
  display: flex;
}

.container {
  margin-top: 1.5rem;
  padding-bottom: 5.0rem;
}

/************************
        NAVIGATION 
*************************/

.nav-tabs .nav-link {
  border-radius: 0;
  border: 0;
}

.nav-item {
  border-radius: 0;
  border-bottom: 0;
}

.nav-item:hover {
  background-color: #ffffff;
  color: #111111;
  border: 0;
  border-radius: 0;
  border-bottom: 0;
}

.nav-item a:hover {
  background-color: #ffffff;
  color: #111111;
  border: 0;
  border-radius: 0;
  border-bottom: 0;
}

.nav-top {
  border-bottom: 0;
  border-top: 1px;
  background-color: #111111;
  display: none;
  box-shadow: 0 3px 3px 0px rgba(0,0,0,.4);
}

.nav-bottom {
  background-color: #111111;
  border-top: 1px solid #fff;
  font-size: 0.75rem;
}

.logo-top {
  width: 5%;
  padding: 0.25rem 0;
}

/* Buttons */
.btn {
  background: transparent;
  color: #F2F2F2;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1rem;
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open>.dropdown-toggle.btn-primary {
    color: #111111;
    background-color: #eeeeee;
    border-color: #eeeeee; 
}

.btn-primary {
  border-color: #ffffff;
}

.btn-secondary:hover, 
.btn-secondary:focus, 
.btn-secondary:active, 
.btn-secondary.active, 
.open>.dropdown-toggle.btn-secondary {
    background-color: #e1e1e1;
    border-color: #ffffff; 
}

.btn-secondary {
  border-color: #111111;
  background-color: #ffffff;
  color: #111111;
}

.btn-facebook:hover, 
.btn-facebook:focus, 
.btn-facebook:active, 
.btn-facebook.active {
    color: #ffffff;
    background-color: #3b5998;
    border-color: #3b5998;
}

.btn-facebook {
  border-color: #3b5998;
}

.btn-menu {
  width: 10rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

/************************
      LOGIN PAGES 
*************************/

.form-front {
  width: 80%;
  margin: auto;
}

.form-control {
  margin: 10px 0;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.input-group-addon {
  margin: 10px 0;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

/************************
      SEARCH PAGE 
*************************/
#map {
  width: 100%;
  height: 90%;
}

#places {
  padding: 0;
  height: 90%;
}

#right-panel {
  width: 100%;
}

ul {
  overflow-y: scroll;
}

/************************
    FIND DRINKS PAGE 
*************************/
.drink-card {
  height: 100%;
  width: 100%;
  border-color: #ffffff;
  background-color: #111111;
}

.drink-card-img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

/* List Groups */
.list-group-ghost {
  background: transparent;
  color: #F2F2F2;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.list-group-item-ghost {
  background: transparent;
  color: #F2F2F2;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border-color: #ffffff;
  cursor: pointer;
}

.list-group-item-ghost.active {
  background: #ffffff;
  color: #111111;
  border-color: #ffffff;
}

/* Modals */

.modal-body {
  background-color: #000000;
}

.modal-header, .modal-footer {
  background-color: #111111;
}

.close {
  color: #ffffff;
}

.close:hover {
  color: #ffffff;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* Rounded sliders */
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Drinks";
    padding-left: 10px;
    background-color: #FFFFFF; color: #999999;
}
.onoffswitch-inner:after {
    content: "Bars";
    padding-right: 10px;
    background-color: #ADADAD; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/* MEDIA QUERIES -- ALWAYS LAST */

@media (min-width: 576px) {
  .nav-top {
    font-size: 1.0rem;
    display: block;
  }

  .nav-bottom {
    display: none;
  }

  .container {
    padding-bottom: 0;
  }

}

@media screen and (min-width: 992px) {
  #right-panel {
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    border-radius: 0.5rem;
  }
}
